<h1 id="tableLabel">Tasks</h1>

<p>This component lists all tasks.</p>

<p *ngIf="!tasks"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="tasks">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>DateAdded</th>
      <th>Deadline</th>
      <th>Importance</th>
      <th>Status</th>
      <th>ClosedAt</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dateAdded }}</td>
      <td>{{ task.deadline }}</td>
      <td>{{ task.importance }}</td>
      <td>{{ task.status }}</td>
      <td>{{ task.closedAt }}</td>
    </tr>
  </tbody>
</table>

